extends layout

block content
  h1= title
  p Welcome to #{title}
  if user
    p Hello, #{user.username}
    a(href="/logout") Logout
  else
    a(href="/login") Login
  div(id="block", class="block")
  button(id="moving-button")  0.5 秒間かけて右に移動⇒ 1 秒かけて戻ってくる
  script(src="/javascripts/bundle.js")
